DATABASE_URL="postgresql://postgres:postgres@localhost:5432/chainvote?schema=public&application_name=chainvote_app"
AUTH_SECRET="replace-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
NIK_HASH_SECRET="replace-with-a-local-secret" 

NEXT_PUBLIC_CHAIN_ID="31337"
NEXT_PUBLIC_HARDHAT_RPC_URL="http://127.0.0.1:8545"
ADMIN_WALLET_ADDRESS="0xreplace-with-your-admin-metamask-wallet"
